<h4>Post details</h4>
<p>
<%= @row['content'] %> <br/>
Added at <%= @row['created_date'] %>
<br/><br/>
</p>
<br/>
<h4>Comments</h4>
<% @comments.each do |comment| %>
	<p><%=comment['content']%></p>
	<p><span style="font-size:75%;color:gray">Added at <%=comment['created_date']%></span></p>
<% end %>
<form action "/details/<%=@row['id']%>" method="post" role="form"> 
		<textarea class="form-control" name="content" rows="6" placeholder = "type comment text here"></textarea>
		<br/>
		<button type="submit" class="btn btn-primary">Add comment</button>
	</form>