<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <% if user_signed_in? %>  
      hello,<%= current_user.username %>
      <%= link_to 'sign out', destroy_user_session_path, method: :delete %>

      <% else %>
        <%= link_to 'sign in',new_user_session_path %>
      <% end %>
      <br/>
    	<p class="notice"><%= notice %></p>
    	<p class="alert"><%= alert %></p>
      <%= yield %>
    </div>
  </body>
</html>
